<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title> {{ layer.layerName }} </mat-panel-title>
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="layer__add-objects-button"
      (click)="fileInput.click()"
    >
      Add pictures
    </button>
    <input
      hidden
      (change)="onFilesSelected()"
      #fileInput
      type="file"
      multiple
    />
    <button
      mat-raised-button
      color="warn"
      (click)="openRemoveLayerDialog($event)"
      class="layer__delete-button"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-expansion-panel-header>
  <div *ngFor="let previewLayerItem of layer.previewLayerItems">
    <app-layer-item [previewLayerItem]="previewLayerItem"></app-layer-item>
  </div>
</mat-expansion-panel>
