.notification {
  &--error {
    background-color: rgb(139, 25, 25);
  }

  &--success {
    background-color: rgb(43, 141, 35);
  }

  &--info {
    background-color: rgb(211, 211, 211);
  }

  &--warning {
    background-color: rgb(236, 196, 16);
  }

  &__message {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &--info,
  &--warning {
    .notification__icon {
      color: black;
    }

    .notification__header {
      color: black;
    }

    .notification__close-icon {
      color: black;
    }

    .notification__message {
      color: black;
    }
  }

  &__header-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__body-container {
    padding-top: 0.25rem;
    display: flex;
    flex-direction: column;
  }

  &__icon {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }

  &__header {
    margin-right: auto;
  }
}
