.main-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__preview {
    flex-grow: 6;
    background-color: $primary;
  }
  &__layer-properties {
    background-color: $primary;
    flex-grow: 3;
  }
}

.layer-properties {
  max-width: 60vw;
}
