<h1 mat-dialog-title>Remove layer</h1>
<div mat-dialog-content class="mat-typography remove-layer-dialog">
  <p>
    Are you sure that you want to remove layer named:
    <b>{{ this.data.layer.layerName }}</b>
  </p>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    (click)="closeDialog()"
    class="remove-layer-dialog__cancel-button"
  >
    Cancel
  </button>
  <button
    mat-button
    (click)="removeLayerAndCloseDialog()"
    class="remove-layer-dialog__remove-button"
  >
    Remove
  </button>
</div>
