/* You can add global styles to this file, and also import other style files */

@import "upload-section/upload-section.scss";
@import "color-palette.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3fr 1fr;

  &__sidebar {
    background-color: $secondary;
  }

  &__main {
    background-color: $primary;
  }

  &__upload-section {
    background-color: $secondary;
  }
}
