<div class="upload-section">
  <div class="upload-section__add-layer-button">
    <button mat-raised-button color="primary" (click)="openAddLayerDialog()">
      Add layer <mat-icon>add_circle</mat-icon>
    </button>
  </div>
  <div
    cdkDropList
    [cdkDropListData]="layers"
    class="upload-section__layers-list"
    (cdkDropListDropped)="drop($event)"
  >
    <app-layer
      *ngFor="let layer of layers"
      [layer]="layer"
      class="upload-section__layer-container"
      cdkDragBoundary=".upload-section__layers-list"
      cdkDrag
    ></app-layer>
  </div>
  <div class="upload-section__generate-pictures">
    <button mat-raised-button color="primary" (click)="sendPicturesToBackend()">
      Generate <mat-icon>alarm_on</mat-icon>
    </button>
  </div>
</div>
